div <div class="express-debug !{standalone ? "standalone" : ""}" id="express-debug" data-path="!{EDTsettings.path || ''}" !{extra_attrs} />
    include ../assets/style.css
    - if (theme)
        style(type='text/css')!=theme
    a(id="EDT-show", href="javascript:void(0);", title="Open express-debug toolbar") EDT
    #EDT
        - var tmp_p = ''
        div#EDT-menu
            span.text express-debug
            div.sep
            - if (req.path !== EDTsettings.path)
                span.text #{req.method} #{req.path}
            - else
                span.text Standalone Panel
            ul
                - panels.forEach(function(panel){
                    div.sep
                    li: a(href='#EDT-' + panel.name, title=panel.name + ' panel')= panel.name
                - })
            a(id="EDT-close", title="close express-debug toolbar", href="javascript:void(0);") CLOSE
        #EDT-main
            - edt_first = ' active'
                - panels.forEach(function(panel){
                    div(class='tab' + edt_first, id='EDT-' + panel.name)!= panel.html
                    - if (edt_first) edt_first = ''
                - })

    include ../assets/js.js
